# Python Lambda Function

## What is a Lambda Function?

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Lambda functions are efficient whenever you want to create a function that will only contain simple expressions â€“ that is, expressions that are usually a single line of a statement. They're also useful when you want to use the function once.

## Defining a Lambda Function

Syntax:
```
lambda argument(s) : expression
```

1. `lambda`: keyword in Python for defining the anonymous function.
2. `argument(s)`: a placeholder, that is a variable that will be used to hold the value you want to pass into the function expression.
3. `expression`: the code that you want to execute in the lambda function.

In [1]:
# Regular function that returns twice the number that is passed into the function.
def double(x):
    return x * 2

double(5)

10

In [2]:
# using a lambda function
double_lambda = lambda x: x * 2
double_lambda(5)

10

In [3]:
(lambda x: x * 2)(5)

10

In [4]:
# using lambda function to add 3 numbers
add = lambda x, y, z: x + y + z
add(10, 20, 30)

60

## Common Use Cases for Lambda Functions

### Using a Lambda Function with Iterables

Lambda functions can be used in conjunction with two common functions: `filter()` and `map()`.

### `filter()` function

syntax:
```
filter(function, iterable)
```
a filter function requires another function that contains the expression or operations that will be performed on the iterable.

In [5]:
# using lambda function to filter out the even numbers in a list
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_nums = filter(lambda x: x % 2 == 0, nums)
even_nums

In [6]:
# converting filter object to list
even_nums = list(even_nums)
even_nums

[2, 4, 6, 8, 10]

### `map()` function

syntax:
```
map(function, iterable)
```

In [7]:
# using lambda function to modify every value in a list
nums = [1, 2, 3 ,4 ,5]

# raising all values in the list to the power of 2
squared_nums = list(map(lambda x: pow(x, 2), nums))
squared_nums

[1, 4, 9, 16, 25]

### Pandas Series

A series is a data frame column in pandas. 
Using lambda function all the values is a series can be manipulated.

In [8]:
# importing pandas module
import pandas as pd

df = pd.DataFrame({
    'name': ['WASIK', 'AHMED', 'APON'],
    'score': [20, 30, 40]
})
df

    name  score
0  WASIK     20
1  AHMED     30
2   APON     40

In [9]:
# applying lambda function to convert all names to lowercase
df['lower_case_name'] = df['name'].apply(lambda x: x.lower())
df

    name  score lower_case_name
0  WASIK     20           wasik
1  AHMED     30           ahmed
2   APON     40            apon