# Python Variables

Variables are containers for storing data values.
Python has no command for declaring a variable.
Variable names are case-sensitive

### Declaring Variables

In [2]:
a = 4 # int
print(a)

4

### Print the datatype of variable using type() function

In [4]:
print(type(a))

<class 'int'>

In [5]:
b = 6.9 # decimal
c = True # boolean
d = "10" # string 
# String variables can be declared either by using single or double quotes

In [6]:
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'bool'>
<class 'str'>

## Casting

Casting, also known as type conversion, is a process that converts a variable's data type into another data type.
Specify the data type of a variable using casting.

##### Integer to string

In [7]:
x = str(a) # a = 4
print(x)
print(type(x))

4
<class 'str'>

##### string to integer

In [8]:
y = int(d) # d = "10"
print(y)
print(type(y))

10
<class 'int'>

##### float to integer

Convert a float to an int always results in a data loss.

In [10]:
z = int(6.9)
print(z)
print(type(z))

6
<class 'int'>

##### integer to float

In [11]:
f = float(10)
print(f)
print(type(f))

10.0
<class 'float'>

## Variable Names
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive
- A variable name cannot be any of the Python keywords.

## Multi Words Variable Names
- Camel Case : myVariableName = "John"
- Pascal Case : MyVariableName = "John"
- Snake Case :  my_variable_name = "John"

## Assign Multiple Values

#### Many values to multiple variables

In [15]:
m, n, o = "James", "Bond", 7
print(m)
print(n)
print(o)

James
Bond
7

#### One value to multiple variables

In [17]:
m = n = o = "Hello, World!"
print(m)
print(n)
print(o)

Hello, World!
Hello, World!
Hello, World!

#### Unpack a Collection

In [18]:
names = ["wasik", "ahmed", "apon"]
m, n, o = names
print(m)
print(n)
print(o)

wasik
ahmed
apon

## Global variables
Variables that are created outside of a function are known as global variables.

In [19]:
x = "World"

def myFunction():
    print("Hello" + x)

myFunction()

HelloWorld

In [22]:
x = "Wasik" # global

def myFunction():
    x = "Apon"   # local
    print("Hello" , x)

myFunction()

print("Hello" , x)

Hello Apon
Hello Wasik

To change the value of a global variable inside a function, use the global keyword

In [25]:
x = "World"

def myFunction():
    global x
    x = "Wasik"

myFunction()
    
print("Hello " + x)

Hello Wasik